body {
    background-color: var(--background);
}

.header-task {
    background-color: var(--product-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100px;
    margin: 0 auto;
    border: 1px solid var(--white);
    border-top: none;
    border-radius: 0 0 100px 100px;
}

@media (min-width: 1024px) {
    .header-task {
        flex-direction: row;
        justify-content: end;
        width: 75%;
        height: 100%;
        border: none;
        align-self: end;
        margin: 0;
        border-radius: 0 0 0 0;
        border-bottom-left-radius: 150px;
    }
}


