.button-side {
    background-color: var(--product-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    width: 94px;
    height: 60%;
    margin: 0 20px;
    padding: 5px;
    border: none;
    border-radius: 15px;
    outline: 0;
}

.button-side:hover {
    box-shadow: 1px 1px 3px 2px var(--black);
    border: none;
}

.button-side-icon {
    align-self: center;
    width: 54px;
    height: 54px;
}

.button-side-title {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    color: var(--white);
}

@media (min-width: 375px) {
    .button-side-icon {
        width: 66px;
        height: 66px;
    }

    .button-side-title {
        font-size: 1.8rem;
    }
}

@media  (min-width: 425px) {
    .button-side-icon {
        width: 70px;
        height: 70px;
    }


    .button-side-title {
        font-size: 2rem;
    }
}


@media (min-width: 1024px) {
    .button-side {
        display: grid;
        grid-template-columns: 2fr 3fr;
        width: 80%;
        height: 100px;
        margin: 25px auto;
        padding:0;
        /* border: 1px solid var(--white); */
    }

    .button-side-icon {
        width: 64px;
        height: 64px;
        align-self: center;
        justify-self: center;
    }


    .button-side-title {
        margin-left: 20px;
        font-size: 2.4rem;
        text-align: start;
    }

}